<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Clothing for <%= clothing._id %> </h1>
    </div>
    file: <%= clothing.file %> <br>

    <hr>

<%- include('bootfooter') -%>
