
<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Clothes</h1>
    </div>
    <ol>
    <% for(i = 0; i<clothes.length; i++){  %>
        <li> <a href="/showclothes/<%= clothes[i]._id %>">
              <%= clothes[i].id %></a>
              <i>
             <%= clothes[i].file %></\/i> </li>
    <% } %>
    </ol>
<%- include('bootfooter') -%>
