<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Clothing for <%= clothing._id %> </h1>
    </div>

     <img src=" <%= clothing.file %>" width="300"> <br>

<%- include('bootfooter') -%>
