<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Closet</h1>
        <p>Add the clothes currently in your closet!</p>
    </div>

    You entered the following ..<br>

    The photo was: <%= file %><br>
     <!-- The type of clothing was:<br> <%= typec %> -->
    The classifications were:<br> <%= list %>

<%- include('bootfooter') -%>
