<form method="post" action="/recipes">
  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <label for="formGroupExampleInput2">Name of Recipe</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" name="post" placeholder="Another input">
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Ingredients in Recipe</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" name="post" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Description of How to Make the Recipe</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" name="post" rows="3"></textarea>
      </div>
    </div>
      <input type="submit">
  </div>

  <hr>
</form>

<form method="post" action="/recipesDelete">
    <input type="submit" value="delete marked">
    <ol>
    <% for(i = 0; i<posts.length; i++){  %>
        <li>  <a href="/recipesDelete"<%= posts[i]._id %>">
              <%= posts[i].userName %></a>
              <i>
             <%= posts[i].createdAt %></\/i> <br>
             <% console.dir([posts[i].userId,user._id]) %>
             <% if (posts[i].userId.equals(user._id)) { %>
                 <input type="checkbox" name="delete" value="<%= recipesDelete[i]._id %>">
             <% } %>
             <pre><%= posts[i].post %></pre>
         </li>
    <% } %>
    </ol>
  </form>
